### Data Encoding
Data Encoding refers to the process of converting categorical data into meaningfull numerical information

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'color' : ['red','blue', 'red','green','green', 'blue']     
})
df

   color
0    red
1   blue
2    red
3  green
4  green
5   blue

##### OneHotEncoding or Ordinal encoding technique
Is in which each category is presented as 0 or 1 if the value belons to a particular category it is stored as 1 otherwise 0 <br>
Cons: We never use it for too many categories

In [13]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df[["color"]])
encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out(['color']))

In [14]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          0.0        1.0
3         0.0          1.0        0.0
4         0.0          1.0        0.0
5         1.0          0.0        0.0