### Data Encoding
Data Encoding refers to the process of converting categorical data into meaningfull numerical information

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'color' : ['red','blue', 'red','green','green', 'blue']     
})
df

   color
0    red
1   blue
2    red
3  green
4  green
5   blue

##### OneHotEncoding or Ordinal encoding technique
Is in which each category is presented as 0 or 1 if the value belons to a particular category it is stored as 1 otherwise 0 <br>
Cons: We never use it for too many categories

In [13]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df[["color"]])
encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out(['color']))

In [14]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          0.0        1.0
3         0.0          1.0        0.0
4         0.0          1.0        0.0
5         1.0          0.0        0.0

##### Label Encoding
Is in which each category has a particular number assigned to it.

In [16]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()
encoded = lbl_encoder.fit_transform(df[['color']])

c:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
lbl_encoded_df = pd.DataFrame(encoded, columns= ['color'])

In [19]:
lbl_encoded_df

   color
0      2
1      0
2      2
3      1
4      1
5      0

##### Ordinal Encoding
Is used when we are in need of assigning some ranks such as:<br>
High School: 4<br>
Matriculation: 3<br>
Secondary: 2<br>
Primary: 1<br>

In [20]:
from sklearn.preprocessing import OrdinalEncoder
sizes = pd.DataFrame({"size" : ["small", "large", "large", "medium", "small", "medium"]})
ord_encoder = OrdinalEncoder()
ord_encoder.fit_transform(sizes[['size']])

array([[2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [1.]])